{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="jumbotron">
    <div class="hero-text">
    <h1>Déplaçons-nous mieux</h1>
    <p>Déplaçons-nous mieux dans la région nantaise</p>
    </div>
</div>

<p>Notre vision est simple : donner un <strong>choix de déplacement crédible</strong> à
chacun, améliorer les déplacements de chacun, <strong>même ceux qui choisissent
    de ne pas changer</strong>.  Pour agir, nous avons besoin de votre voix.</p>

<p class="lead text-primary">Notre stratégie est également simple : engagez nos élus, les
    montrer que nous sommes nombreux à vouloir un système de
    déplacements efficace, pas cher, et écologique.
</p>

<p><strong>Nous avons un choix</strong> : continuer à construire plus
    de capacité voiture ou commencer à offrir un vrai choix aux
    habitants de notre région.  Et le choix est clair : aucune ville,
    aucune région n'a jamais améliorée ses bouchons en construisant
    plus de capacité.  Les régions qui encouragent et construisent
    pour les cyclistes, pour la marche à pied, et pour les transports
    collectifs, par contre, voient leur bouchons diminuer, voire
    disparaître.  Sans obliger qui que ce soit à changer de mode de
    déplacement.</p>

<p></p>

<p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button">J'adhère</a></p>

{#
<div class="row">
    <div class="col-lg-12">
	<h1>Je me déplace...</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
	<h2>à voiture</h2>
	<p>Hello.</p>
    </div>
    <div class="col-sm-3">
	<h2>en vélo</h2>
	<p>Hello.</p>
	<p></p>
    </div>
    <div class="col-sm-3">
	<h2>en transport collectif</h2>
	<p>Hello.</p>
	<p></p>
    </div>
    <div class="col-sm-3">
	<h2>en marche à pied</h2>
	<p>Hello.</p>
	<p></p>
    </div>
</div>
#}

{% endblock %}
